#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/neofetch PREFIX=/usr install

override_dh_auto_build:
	# Nothing to build

override_dh_auto_test:
	# No tests
